body {
   font-family: "Mali", cursive;
   background: #ffc2dc;
   color: white;
 }
 .main {
   background-color: #38b2a6;
   margin: 40px auto 10px;
   padding: 20px 0;
   border-radius: 70px;
   width: 100%;
   max-width: 500px;
   /* border: 3px solid #EE706C; */
 }
 .img {
  width: 90%;
  height: 90%;
 }
 
.degrees {
   color: white;
   font-size: 20px;
   font-weight: 600;
   position: relative;
   line-height: 1;
   text-decoration: none;
}
 .active {
  color: white;
  text-decoration: none;
 }
 .active:hover{
  color: white;
  text-decoration: none;
  cursor: default;
 }
 .no-active {
  color: #ff6585;
  text-decoration: none;
  opacity: .8;
 }
 .no-active:hover{
  color: #ff6585;
  text-decoration: underline;
  cursor: pointer;
  opacity: .8;
 }

 .form:after {
   content: "";
   display: block;
   margin: 20px auto;
   height: 10px;
   width: 100%;
   background-color: #ffc2dc;
 }
 .city {
   margin-bottom: 20px;
   font-weight: 700;
 }
 .city:after {
   content: "";
   display: block;
   margin: 20px auto;
   height: 10px;
   width: 100%;
   background-color: #ffc2dc;
 }
 
 .image {
   width: 120px;
   padding-left: 30px;
 }
 .icons {
  width: 40px;
  height: 40px;

 }
 .col-tempetature {
   font-size: 40px;
   font-weight: 700;
 }
 .col-day,
 .col-time {
   padding-right: 20px;
   font-size: 25px;
 }
 .col-info {
   font-size: 13px;
   font-style: italic;
   padding-right: 30px;
 }
 .section {
   width: 100%;
   max-width: 450px;
   margin: 0 auto 10px;
 }
 .col-2 {
   background: #38b2a6;
   padding: 15px 0;
   border-radius: 20px;
 }
 .section-temperature {
   font-size: 20px;
   font-weight: 700;
 }
 .section-day {
   font-size: 15px;
   font-weight: 700;
 }
 .section-temperature:after {
   content: "";
   display: block;
   margin: 0 auto;
   width: 25px;
   height: 2px;
   background: white;
 }
 .col {
   background-color: #38b2a6;
   max-width: 500px;
   display: block;
   margin: 0 auto 30px;
   padding: 10px 0;
   border-radius: 20px;
 }
 .col-status {
   font-weight: 400;
   font-size: 20px;
 }
 .footer-link {
  text-decoration: none;
  color: #ffc2dc;
  font-weight: 700;
  transition: all 200ms ease-in-out;
 }
 .footer-link:hover {
  text-decoration: underline;
  color: white;
 }

 @media screen and (max-width: 768px) {
  .main {
    width: 80%;
    margin-top: 30px;
  }
  #input {
    width: 40%;
    height: 50%;
  }
  button {
    width: 65px;
    height: 35px;
  }
  .btn {
    font-size: 13px;
  }
  .city {
    margin-top: 10px;
   }
   .col-4 {
    padding: 0;
    margin: 0;
   }
  .img {
    width: 90%;
    height: 70%;
   }
   .col-tempetature {
    font-size: 35px;
   }
   .degrees,
   .col-status {
    font-size: 15px;
   }
   .col-day,
   .col-time {
   padding-right: 40px;
   font-size: 20px;
 }
 .col-info {
  font-size: 10px;
  font-style: italic;
  padding-right: 30px;
}
.section {
  width: 70%;
  margin: 0 auto 10px;
}
.col-2 {
  padding: 8px 0;
}
.section-temperature {
  font-size: 16px;
}
.section-day {
  font-size: 13px;
}
.section-temperature:after {
  content: "";
   display: block;
   margin: 5px auto;
   width: 25px;
   height: 2px;
   background: white;
 }
 .container {
  width: 80%;
 }
 .footer-link {
  font-size: 15px;
 }
}
@media screen and (max-width: 576px) {
  .main {
    width: 80%;
  }

  #input {
    width: 30%;
    height: 10%;
  }
  button {
    width: 35px;
    height: 25px;
  }
  .btn {
    font-size: 5px;
  }
   .col-4 {
    padding: 0;
    margin: 0;
   }
  .img {
    width: 70%;
    height: 70%;
   }
   .col-tempetature {
    font-size: 20px;
   }
   .degrees {
    font-size: 8px;
   }
   .col-status {
    font-size: 10px;
   }
   .col-day,
   .col-time {
   padding-right: 40px;
   font-size: 15px;
 }
 .col-info {
  font-size: 8px;
  font-style: italic;
  padding-right: 30px;
}
.section {
  width: 70%;
  margin: 0 auto 10px;
}
.col-2 {
  padding: 5px 0;
}
.section-temperature {
  font-size: 10px;
}
.section-day {
  font-size: 9px;
}
.section-temperature:after {
  content: "";
   display: block;
   margin: 3px auto;
   width: 25px;
   height: 2px;
   background: white;
 }
 .container {
  width: 80%;
 }
 .footer-link {
  font-size: 10px;
 }

}

   

 